*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    /* background-color: rgb(255, 255, 254); */
    background-color: rgb(255, 255, 254); /* eye safe to do change to rgb(255, 255, 254) */
    
}
/* tools */
.debug{
    background-color: rgba(255, 0,0, .3);
    border: 2px solid green;
}

.clearfix::after{
    content: "";
     display: table;
    clear: both;
}

/* tools */

/* main */
.container{
    margin: 2% 20%; 
}

.container > *{
    margin-bottom: 5%;
}

.container h1{
    text-align: center;
    color: rgb(229, 49, 112);
    font-size: 2.5rem;
}

.container>p{
    text-align: center;
}

.container ul li{
    list-style: none;
}

li.rows{
    margin-bottom: 2rem;
}

li.team-member{
    float: left;
    width: calc(100% / 3 - 10px);
    text-align: left;
    height: 100px;  
    background-color: rgb(15, 14, 23);
    color: white;
    box-shadow: -3px -3px 20px 3px #888888;
}

/* fix later */
li.team-member:nth-child(2){
    margin-left: 15px;             
}

li.team-member:nth-child(3){
    float: right;
}

.team-member img{
    height: 100%;
    float: left;
    padding-right: 2rem;
}

.team-member h2{
    padding-top: 10px;
}

.team-member a{
    color: rgb(0, 117, 211);
}

/* \main */
