*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    /* background-color: rgb(255, 255, 254); */
    background-color: rgb(255, 255, 254); /* eye safe mode rgb(30, 30, 30) */
    
}
/* tools */
.debug{
    background-color: rgba(255, 0,0, .3);
    border: 2px solid green;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* tools */

/* main */
.container{
    margin: 2% 20%;
    text-align: center;
}

.container > *{
    margin-bottom: 5%;
}

.container h1{
    text-align: center;
    color: rgb(229, 49, 112);
    font-size: 2.5rem;
}

.container>p{
    text-align: center;
    padding:  0 15px;
}

.layout .col{
    width: calc(100% / 3);
    padding: 0 15px;
    float: left;
    margin-bottom: 20px;
    min-width: 250px;
    
}

.member{
    height: 80px;
    text-align: left;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px 3px #888888;
}

.member img{
    height: 100%;
    float: left;
    margin-right: 15px;
}

.member .content{
    padding-top: 10px;
    
}
    