*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    /* background-color: rgb(255, 255, 254); */
    background-color: rgb(30, 30, 30); /* eye safe to do change to rgb(255, 255, 254) */
    
}
/* tools */
.debug{
    background-color: rgba(255, 0,0, .3);
    border: 2px solid green;
}

.clearfix::after{
    content: "";
     display: table;
    clear: both;
}


/* tools */

/* main */
.container{
    margin: 0 20%; 
}

.container h1{
    text-align: center;
    color: rgb(229, 49, 112);
}

.container p{
    text-align: center;
}

.container ul li{
    list-style: none;

}

/* \main */
